//----------------------------------------------------------
//  mewthree.rc
//----------------------------------------------------------

#include "common/version.h"
#include <windows.h>

// StringVersionInfo
#define ResV(i) Res(i)
#define _Res(s,term)	s # term
#define Res(s)		_Res(#s,\0)

VS_VERSION_INFO VERSIONINFO
	FILEVERSION	DllResVersion
	PRODUCTVERSION	DllResVersion
	FILEOS		VOS__WINDOWS32
	FILETYPE	VFT_DLL
	FILESUBTYPE	VFT2_UNKNOWN
	FILEFLAGS	0x0L
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904b0"
		{
			VALUE "CompanyName",		"Oraah!\0"
			VALUE "FileDescription",	"SMW sprites insertion utility module\0"
			VALUE "FileVersion",		ResV(DllFileVersion)
			VALUE "InternalVersion",	"Yaroo!\0"
			VALUE "OriginalFileName",	"mewthree.dll\0"
			VALUE "LegalCopyright",		"(C) 2018 Uppu!\0"
			VALUE "ProductName",		ResV(_DllAppName)
			VALUE "ProductVersion",		ResV(DllAppVersion)
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1200
	}
}
