#-----------------------------
# git attributes
#-----------------------------
*			text=auto

*.txt			text eol=crlf
*.asm			text eol=crlf
*.inc			text eol=crlf
*.cfg			text eol=crlf
*.json			text eol=crlf
*.bat			text eol=crlf

*.sh			text eol=lf

