# Object files
*.o
*.ko
*.obj
*.elf

# gcov
*.gcno
*.gcda
*.gcov

# depend
*.d
*.dep

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# snes files
*.smc
*.sfc

# test
*_tests

# tags
tags
