#-------------------------------------------------
# ignore main repo files
#-------------------------------------------------
# files
/CMakeList.txt
/Makefile
/tags
/ct.sh

# directories
/asm/
/build/
/doc/
/etc/
/include/
/junk_code/
/lib/
/objs/
/samples/
/scripts/
/src/
/tests/
/toolchain/

_site
.sass-cache
Gemfile.lock
*.gem
